
 <div class="container">
    <h1>grinder</h1>

    <h2>Taskboard 1</h2>

    <div id="lists">
    </div>


    <form>
        <input id="nameList" type="text" placeholder="list name" maxlength="24"> 
        <button id="addList">Add List</button>
    </form>
</div>