<h1>Your HTML code here</h1>

<h2>Example lists</h2>
<div id="lists">
</div>

<form action="">
    <input type="text" name="listName" type="submit" value="Submit" id=">
    <label for="listName">List name</label>
</form>
<button id="addList">Add List</button>